body{
  background-color: #7ec4ea;
}
.App {
  /* text-align: center; */
  margin: 1% 16%;
}
.App__head{
  text-align: center;
  color: whitesmoke;
  text-shadow: -15px 5px 20px #ced0d3;
}
.Landing {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #f6f8fb;
  padding: 2% 4% 5% 2%;
}
.summary {
  background-color: #bcd2e8;
  font-size: 20px;
}
.button {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
